/**
 * @author: Samuel Loranger <samuelloranger@gmail.com>
 */

.categorie{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 50% 50%;

  @media(-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: flex;
    flex-wrap: wrap;
  }

  @media(min-width: 600px){
    grid-template-columns: 33% 33% 33%;
  }

  @media(min-width: 830px){
    grid-template-columns: 25% 25% 25% 25%;
  }

  &__titre{
    margin-top: 7%;
    text-align: center;

    @media(min-width: $bureau){
      margin-top: 1%;
    }
  }


  &__produit{
    position: relative;
    margin-bottom: 5%;
    padding: 5%;

    //Internet Explorer
    @media(-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding: 1%;
      width: 25%;
      margin-bottom: 1%;
    }

    &__image {
      overflow: hidden;
      transition: .25s ease-in-out;
      box-shadow: 0 0 6px #000;

      @media(-ms-high-contrast: active), (-ms-high-contrast: none){
        width: 11vw;
        height: 11vw;
      }

      img {
        width: 100%;
        display: block;

        @media(min-width: $bureau) {
          transition: 0.25s ease-in-out;
        }
      }
    }

    &__titre{
      text-align: center;
      margin-top: 3%;
      transition: .25s ease-in-out
    }

    &__informations{
      font-size: 18px;
      font-size: 1.8rem;
      margin-top: 0;

      &__titre{
        margin-top: 0;
        margin-bottom: 0;
        transition: 0.25s ease-in-out;
      }

      &__prix{
        @include fontSize(18px);
        margin-top: 0;
      }

      @media(min-width: $bureau){
        display: block;
        margin-left: gutter(12);
      }
    }

    &:hover{
      img{
        transform: scale(1.08);
      }

      h3{
        color: $vertHover;
      }
    }
  }
}

.en_vedette{
  background-color: lightgrey;

  &::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: white;
    font-family: "Alfa Slab One", alfaslabone-regular, Arial, sans-serif;
    font-size: 1.4em;
    content: "En vedette";
    background-color: rgba(0, 0, 0, 0.65);
    padding-left: 8px;
    padding-top: 4px;
    width: 90%;
    height: 15%;
    border-bottom-right-radius: 10px;
    transition: 0.25s ease-in-out;

    @media(min-width: 435px){
      width: 72%;
      height: 13%;
    }

    @media(min-width: $bureau){
      padding-left: 8px;
      padding-top: 3px;
      width: 65%;
      height: 12%;
    }
  }
}